<div class="d-flex align-items-start">
    <div class="form-group mr-4">
      <label class="btn btn-primary" for="formControlFile">AddImages</label>
      <input [hidden]="true" #filesInput (change)="onFileChange($event)" type="file" class="form-control-file" id="formControlFile" multiple>
    </div>
    <button (click)="addImages()" [disabled]="!myImages.length" type="submit" class="btn btn-primary">Load Images</button>
</div>

<div class="scroll-container">
    <p *ngIf="!myImages.length">Choose some images</p>
    <div *ngFor="let image of myImages; let idx = index;" (click)="deleteImageFromMyImages(idx)" class="d-flex align-items-center">
        <span>{{image.name}}</span> <button class="btn btn-danger ml-3">delete</button>
    </div>
</div>