<section class="title mb-3">
    <h1>Log In</h1>
</section>

<form [formGroup]="formGroup" (ngSubmit)="submit($event)" novalidate>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div class="alert alert-danger mt-3"
            *ngIf="email.invalid && email.touched">
            Email is incorrect!
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
            placeholder="Password">
        <div class="alert alert-danger mt-3"
            *ngIf="password.invalid && password.touched">
            Password is incorrect!
        </div>
    </div>

    <div *ngIf="(errorMessage$ | async) as errorMessage" class="alert alert-danger mt-3">
        {{errorMessage}}
    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>
</form>

<div class="app-support-block mt-4">
    Don’t have an account?<br>
    <a routerLink="/auth/sign-up">Sing up</a>
</div>