<form [formGroup]="formGroup" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
        <input type="hidden" formControlName="userId">

        <label for="exampleInputUserName1">User name</label>
        <app-users-list [selectedUser]="{name: name.value, id: '' }" 
                        (getSelectUser)="name.setValue($event.name || ''); userId.setValue($event.id)"
        ></app-users-list>

        <div class="alert alert-danger mt-3" *ngIf="name.invalid && name.touched">
            User name is incorrect!
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputAmount1">Amount</label>
        <input formControlName="amount" type="number" class="form-control" id="exampleInputAmount1"
            aria-describedby="amountHelp" placeholder="Enter amount">
        <div class="alert alert-danger mt-3"
            *ngIf="amount.invalid && amount.touched">
            Amount is incorrect!
        </div>
    </div>
    <button [disabled]="formGroup.invalid" type="submit" class="btn btn-primary">Create transaction</button>
</form>