<section class="title mb-3">
    <h1>Registration</h1>
</section>

<form [formGroup]="formGroup" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
        <label for="exampleInputUserName1">User name</label>
        <input formControlName="username" type="username" class="form-control" id="exampleInputUserName1"
            aria-describedby="emailHelp" placeholder="Username">
        <div class="alert alert-danger mt-3"
            *ngIf="username.invalid && username.touched">
            User name is incorrect!
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div class="alert alert-danger mt-3"
            *ngIf="email.invalid && email.touched">
            Email is incorrect!
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
            placeholder="Password" autocomplete>
        <div class="alert alert-danger mt-3"
            *ngIf="password.invalid && password.touched">
            Password is incorrect!
        </div>
    </div>

    <div *ngIf="(errorMessage$ | async) as errorMessage" class="alert alert-danger mt-3">
        {{errorMessage}}
    </div>

    <button [disabled]="formGroup.invalid" type="submit" class="btn btn-primary">Regist</button>
</form>

<div class="app-support-block mt-4">
    Have you already had an account?<br>
    <a routerLink="/auth/sign-in">Sing in</a>
</div>