.wrap-image {
    position: relative;

    &__delete {
        opacity: 0;
        pointer-events: none;
        font-weight: bold;
        font-size: 16px;
        color: red;
        line-height: .8;
        background-color: rgba(#fff, .5);
        height: 16px;
        width: 16px;
        position: absolute;
        top: 0px;
        right: 0px;
        text-align: center;
        cursor: pointer;
        transition: opacity .5s ease;
    }
    
    &:hover {
        .wrap-image__delete {
            opacity: 1;
            pointer-events: auto;
        }
    }
}
