<div class="d-flex flex-wrap justify-content-start">
    <div class="w-25 wrap-image" *ngFor="let image of (images$ | async)">
        <span (click)="deleteImage(image.id)" class="wrap-image__delete">x</span>
        <img class="w-100" [src]="image.fullLink">
    </div>
</div>